<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
    <header>
        <div class="container">
            <span>Welcome, <%= userName %>!</span>
            <button id="addTaskButton">Add Task</button>
            <button id="logoutButton">Logout</button>
        </div>
    </header>

    <!-- Modal -->
    <div id="addTaskModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Add Task</h2>
            <!-- Form to add task -->
            <form id="addTaskForm">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required><br><br>
                <label for="description">Description:</label>
                <textarea id="description" name="description" rows="1" cols="50" required></textarea><br><br>
                <label for="dueDate">Due Date:</label>
                <input type="datetime-local" id="dueDate" name="dueDate" required><br><br>
                <label for="status">Status:</label>
                <select id="status" name="statusId" required>
                    <option value="1">To Do</option>
                    <option value="2">In Progress</option>
                    <option value="3">Completed</option>
                    <option value="4">Closed</option>
                </select><br><br>
                <label for="priority">Priority:</label>
                <select id="priority" name="priorityId" required>
                    <option value="1">Low</option>
                    <option value="2">Medium</option>
                    <option value="3">High</option>
                </select><br><br>
                <button type="submit">Add</button>
            </form>
        </div>
    </div>

    <main>
        <div class="container">
            <div id="taskList">
                <% if (tasks.length===0) { %>
                    <!-- Kiểm tra nếu danh sách task rỗng -->
                    <p id="noTaskMessage">Chưa có ghi chú nào!</p>
                    <% } else { %>
                        <div class="header">
                            <div class="title">Title</div>
                            <div class="description">Description</div>
                            <div class="dueDate">Due Date</div>
                            <div class="status">Status</div>
                            <div class="priority">Priority</div>
                            <div class="edit"></div> <!-- Thêm cột này cho nút chỉnh sửa -->
                        </div>
                        <% tasks.forEach(task=> { %>
                            <div class="task">
                                <div class="title">
                                    <%= task.title %>
                                </div>
                                <div class="description">
                                    <%= task.description %>
                                </div>
                                <div class="dueDate">
                                    <%= task.dueDate.toLocaleString() %>
                                </div>
                                <div class="status">
                                    <%= task.status.name %>
                                </div>
                                <div class="priority">
                                    <%= task.priority.name %>
                                </div>
                                <div class="edit">
                                    <button class="editButton">Edit</button>
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    <button class="deleteButton">X</button>
                                </div>
                            </div>
                            <% }); %>
                                <% } %>
            </div>
        </div>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

        const modal = document.getElementById('addTaskModal');

        const addTaskBtn = document.getElementById("addTaskButton");

        const closeBtn = document.getElementsByClassName("close")[0];

        addTaskBtn.onclick = function () {
            modal.style.display = "block";
        }

        closeBtn.onclick = function () {
            modal.style.display = "none";
        }


        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        document.getElementById('addTaskForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Ngăn chặn submit mặc định

            // Lấy giá trị của các trường input
            const title = document.getElementById("title").value;

            const description = document.getElementById("description").value;
            const dueDate = document.getElementById("dueDate").value;
            const statusId = document.getElementById("status").value;
            const priorityId = document.getElementById("priority").value;
            console.log({ title, description, dueDate, statusId, priorityId })
            const taskData = { title, description, dueDate, statusId, priorityId }

            axios.post('/tasks/add-task', taskData)
                .then(function (response) {
                    // Đóng modal sau khi thêm task thành công
                    modal.style.display = "none";
                    // Refresh trang
                    window.location.reload();
                })
                .catch(function (error) {
                    console.error('Error:', error);
                });
        });

        document.getElementById('logoutButton').addEventListener('click', function () {
            axios.post('/auth/logout')
                .then(function (response) {
                    // Redirect to login page
                    window.location.href = '/auth/login';
                })
                .catch(function (error) {
                    console.error('Error:', error);
                });
        });
    </script>
</body>

</html>